version: "3.8"

services:

  pg_server:
    image: postgres:12.2
    container_name: pg_server
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flask_data
    ports:
      - "5432:5432"
    volumes:
      - ./deploy/pg.sql:/docker-entrypoint-initdb.d/pg.sql
      - pg_data:/var/lib/postgresql/data
    networks:
      flask-net:
        aliases:
          - pg_server

  redis-server:
    image: redis:6.0
    container_name: redis_server
    restart: always
    command: redis-server --requirepass redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      flask-net:
        aliases:
          - redis_server

  flask-server:
    build:
      context: .
      dockerfile: ./deploy/flask.Dockerfile
    image: flask-server:1.0
    container_name: flask-server
    restart: always
    command: ["supervisord", "-n", "-c", "/etc/supervisord.conf"]
    depends_on:
      - pg_server
      - redis-server
    ports:
      - "80:80"
    networks:
      flask-net:
        aliases:
          - flask-server

networks:
  flask-net:
    name: flask-net

volumes:
  pg_data:
    name: pg_data
  redis_data:
    name: redis_data
 